.weather-forcast {
    margin: 0 -16px;
 }
 
 #weatherForcastIcons {
    display: flex;
    padding: 0 20px;
 }
 
.weather-forcast-icon {
    flex: 1;
    text-align: center;
    font-size: 18px;
}
 
.weather-forcast-icon img {
    width: 80%;
    height: auto;
}
 